#label-name{
  font-family: 'Krub', sans-serif;
  font-size: 20px;
}
#detail{
  font-family: 'Krub', sans-serif;
  font-size: 12px;
  color: #4c4b49;
}
.position{
  margin-left: 10px;
  margin-right: 10px;
}
.center{
  text-align: center;
}
div{
  margin-top: 15px;
}
ion-label{
  font-family: 'Krub', sans-serif;
}
img{
  border-radius: 30px;
  width: 300px;
  height: 300px;
}
ion-button{
  font-family: 'Krub', sans-serif;
  --border-radius: 50px;
}
