// ion-button {
//     --background: #fcede5;

//     --color: #9e3c0f;

//     --border-radius: 0;
//     --border-color: #ff8503;
//     --border-style: solid;
//     --border-width: 1px;
//   }
ion-card{
  font-family: 'Krub', sans-serif
}
img{
  width: 300px;
  height:250px;
}
ion-label{
  font-family: 'Krub', sans-serif
}
ion-card-title{
  font-family: 'Krub', sans-serif;
  font-size: 18px
}
ion-card-subtitle{
  font-family: 'Krub', sans-serif;
}
b{
  font-family: 'Krub', sans-serif;
  font-size: 14px;
  color: #999384;
}
ion-button{
  --border-radius: 50px;
}
ion-label{
  font-family: 'Krub', sans-serif !important;
}

#center{
  margin-top: 70%;
  text-align: center;
}
a{
  font-family: 'Krub', sans-serif;
  color: #535353 !important;
}

