<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="fristpage" style="font-family: 'Krub', sans-serif">
        <ion-icon name="home"></ion-icon>
        หน้าแรก </ion-tab-button
      ><ion-tab-button tab="my-courses" style="font-family: 'Krub', sans-serif">
        <ion-icon name="book"></ion-icon>
        บทเรียนของฉัน
      </ion-tab-button>
      <ion-tab-button tab="profile" style="font-family: 'Krub', sans-serif">
        <ion-icon name="person"></ion-icon>
        โปรไฟล์
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
