<ion-content>
  <ion-header collapse="condense">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Krub:wght@500&display=swap"
      rel="stylesheet"
    />
  </ion-header>
  <br />
  <style>
    .text-center {
      text-align: center;
    }
  </style>
  <div class="text-center">
    <img src="./assets/pic/logo3.png " height="300" width="300" />
  </div>
  <br />
  <form>
    <ion-row>
      <ion-col>
        <ion-button
          type="submit"
          expand="block"
          [routerLink]="['/login']"
          style="font-family: 'Krub', sans-serif"
          class="s"
        >
          เข้าสู่ระบบ
        </ion-button>
        <span class="divider" style="font-family: 'Krub', sans-serif"
          >หรือ</span
        >
        <ion-button
          type="submit"
          expand="block"
          [routerLink]="['/signup']"
          style="font-family: 'Krub', sans-serif"
          class="s"
        >
          สมัครสมาชิก
        </ion-button>
        <ion-button
          expand="block"
          fill="outline"
          style="
            color: #684018;
            font-family: 'Krub', sans-serif;
            margin-top: 10px;
          "
          (click)="singinWihtGoogle()"
          class="s"
          ><ion-icon name="logo-google" style="margin-right: 15px"></ion-icon
          >เชื่อมต่อบัญชี Google</ion-button
        >
      </ion-col>
    </ion-row>
  </form>
</ion-content>
