<ion-header collapse="condense">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Krub:wght@500&display=swap"
    rel="stylesheet"
  />
</ion-header>
<ion-content [fullscreen]="true">
  <ion-item lines="none">
    <ion-icon name="chevron-back-sharp" [routerLink]="['/home']"></ion-icon>
  </ion-item>

  <br />
  <style>
    .text-center {
      text-align: center;
    }
  </style>

  <div class="text-center">
    <img src="./assets/pic/p1.png " height="200" width="200" />
    <br />
    <ion-label style="font-family: 'Krub', sans-serif">เข้าสู่ระบบ</ion-label>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="submitForm()" novalidate>
    <ion-col size="12" class="ion-margin-bottom">
      <!-- <ion-item lines="none" mode="md" fill="outline" class="s"> -->
      <div id="block">
        <ion-input
          formControlName="email"
          type="text"
          [(ngModel)]="member.Email"
          placeholder="อีเมล "
        ></ion-input>
      </div>

      <div
        *ngIf="this.loginForm.controls?.email.touched && this.loginForm.controls?.email.invalid"
      >
        <div
          class="error ion-padding"
          *ngIf="errorControl.email.errors?.required"
        >
          <ion-text color="danger">กรุณากรอกอีเมล</ion-text>
        </div>
        <div class="ion-padding" *ngIf="errorControl.email.errors?.pattern">
          <ion-text color="danger">อีเมลไม่ถูกต้อง</ion-text>
        </div>
      </div>

      <div id="block">
        <ion-input
          formControlName="password"
          type="Password"
          [(ngModel)]="member.Password"
          placeholder="รหัสผ่าน"
        ></ion-input>
      </div>

      <div
        *ngIf="this.loginForm.controls?.password.touched && this.loginForm.controls?.password.invalid"
      >
        <div
          class="error ion-padding"
          *ngIf="errorControl.password.errors?.required"
        >
          <ion-text color="danger">กรุณากรอกรหัสผ่าน</ion-text>
        </div>
        <div class="ion-padding" *ngIf="errorControl.password.errors?.pattern">
          <ion-text color="danger">รหัสผ่านไม่ถูกต้อง</ion-text>
        </div>
      </div>
      <br />

      <div class="text-center">
        <ion-button
          expand="block"
          fill="clear"
          style="color: #7a7a7a; font-family: 'Krub', sans-serif"
          class="s"
          [routerLink]="['/forget-pass']"
          >ลืมรหัสผ่าน</ion-button
        >
        <ion-button
          type="submit"
          expand="block"
          (click)="onClickLoginButton()"
          class="s"
        >
          เข้าสู่ระบบ
        </ion-button>
        <ion-button
          expand="block"
          fill="clear"
          routerLink="/signup/"
          style="color: #684018"
          class="s"
          >สมัครสมาชิก</ion-button
        ><br />
      </div>
    </ion-col>
  </form>
</ion-content>
