img{
  width: 300px;
  height:250px;
}
ion-label{
  font-family: 'Krub', sans-serif
}
ion-card-title{
  font-family: 'Krub', sans-serif;
  font-size: 18px
}
ion-card-subtitle{
  font-family: 'Krub', sans-serif;
}
b{
  font-family: 'Krub', sans-serif;
  font-size: 14px;
  color: #999384;
}
ion-button{
  --border-radius: 50px;
}
ion-label{
  font-family: 'Krub', sans-serif !important;
}

